h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

body{

	div{

	}
}

.inputs{
	border: 1px solid black;
	padding: 10px;
}

.xyframe{
	
	> div{
		margin: 0 auto;
	}
}



.soba-visualization{
	width: 90%;
	max-width: 500px;
	display: inline-block;
	float: left;
	border: 2px solid #ec8d89;
	margin: 20px;
	padding: 0 0 0 0;
	border-radius: 10px;
	box-shadow: 2px 2px 15px 3px rgba(0,0,0,0.3);

	h1{
		color: white;
		padding: 5px;
		margin: 0;
		font-family: -apple-system;
	}


	.user-controls{
		padding: 10px 10px 10px 10px;
		background: #DE3831;
		border-radius: 8px 8px 0 0;
		border-bottom: 2px solid #ec8d89;

	}

	.react-tabs__tab-list{
		border-radius: 0 0 8px 8px;
		border-top: 2px solid #ec8d89;
		background: #DE3831;
		padding: 10px 0;
		margin: 0;

	}

	.react-tabs__tab-panel--selected{
		padding: 10px;
	}

	.react-tabs__tab{
		cursor: pointer;
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
		background: white;
	}
	.react-tabs__tab--selected{
		font-weight: bold;
		background: black;
		color: white;
	}

}

.loading-container{
	h2{
		text-align: center;
		margin-top: 20%;
		margin-bottom: 20%;
	}
}